<form class="form" method="post" data-netlify="true" name="Contact DE" onsubmit="return confirm('Danke für Ihre Nachricht! Wir werden uns so schnell wie möglich bei Ihnen melden')">
    <label class="hidden">Don’t fill this out if you're human:</label><input name="bot-field" class="hidden"/>
    <input type="text" name="Name" class="input-line" placeholder="Mein Name*" required minlength="2">
    <input type="email" name="Email" class="input-line" placeholder="Meine E-Mail*" required minlength="5">
    <input type="text" name="Country" class="input-line" placeholder="Ich wohne in (Land)">
    <p>Ich interessiere mich für:</p>
    <input type="text" name="Interest" class="input-line" placeholder="Kantholz, Instrument, Produkt,...*" required minlength="5">
    <textarea name="Message" class="input-field" placeholder="Meine Nachricht"></textarea>
    <button type="submit" class="form-submit">Abschicken</button>
</form>
