<form class="form" method="post" data-netlify="true" name="Contact FR" onsubmit="return confirm('Merci pour votre intérêt! Nous vous contacterons dans les plus brefs délais.')">
    <label class="hidden">Don’t fill this out if you're human:</label><input name="bot-field" class="hidden"/>
    <input type="text" name="Name" class="input-line" placeholder="Mon nom*" required minlength="2">
    <input type="email" name="Email" class="input-line" placeholder="Mon adresse e-mail*" required minlength="5">
    <input type="text" name="Country" class="input-line" placeholder="J'habite en (Pays)">
    <p>Je m'interesse à:</p>
    <input type="text" name="Interest" class="input-line" placeholder="Sonowood pièces brutes, pièces pour (instrument), autres produits,...*" required minlength="5">
    <textarea name="Message" class="input-field" placeholder="Mon message et mes questions"></textarea>
    <button type="submit" class="form-submit">Envoyer</button>
</form>
