<footer>
  <div class="footer-left">
    <input type="email" placeholder="Enter your e-mail and stay tuned" class="input-email"><button type="submit" hrf="" class="submit">Submit</button>
  <p>
    <a href="https://www.facebook.com/Swiss-Wood-Solutions-1539292799446076/" target="_blank"><img class="footer-icon" src="/swisswoodsolutions/assets/logo/icon-FB.svg" alt="icon facebook"></a>
    <a href="https://www.linkedin.com/company/swiss-wood-solutions/" target="_blank"><img class="footer-icon" src="/swisswoodsolutions/assets/logo/icon-linkedin.svg" alt="icon linkedin"></a>
    <a class="btn-white" href="mailto:info@swisswoodsolutions.ch">Email us</a>
  </p>
  </div>
  <p><strong>Swiss Wood Solutions AG</strong><br/>Stefano-Franscini-Platz 3, HIF E 29.1<br/>CH – 8093 Zürich</p>
  <p>&copy;2018 | <a href="">Terms of Use & Privacy Policy</a>
  </p>
</footer>
