<header>
      <a href="/swisswoodsolutions/">
          <img src="{{ site.baseurl }}/assets/logo/SWS_Vektor_C.svg" class="swslogo" alt="logo SwissWoodSolutions">
      </a>
      <div id="menuToggle">
            <input type="checkbox" class="hamburgercheck">
                <span></span>
                <span></span>
                <span></span>
                <ul class="nav">
                  {% assign items = site.pages | where_exp:"page", "page.name != 'style.scss'" | sort: 'order' %}
                  {% for item in items %}
                    <li class="{% if item.url == page.url %}active{% endif %}">
                      <a href="{{ item.url | relative_url }}">{{ item.title }} </a>
                    </li>
                  {% endfor %}
                </ul>
        </div>
</header>
