<header>
  <a href="/{{page.lang}}">
    <h1 class="swslogo">
      <img src="/assets/logo/SWS_Vektor_C.svg" alt="Swiss Wood Solutions">
    </h1>
  </a>
  <div id="menuToggle">
    <input type="checkbox" class="hamburgercheck">
      <span></span>
      <span></span>
      <span></span>

      <nav>
        <ul class="lang-switcher">
          {% for lang in site.langs %}
            <li class="{% if lang == page.lang %}active{% endif %}">
              <a href="/{{lang}}/{{page.url | slice: 4, page.url.size}}">{{lang}}</a>
            </li>
          {% endfor %}
        </ul>

        <ul class="nav">
          {% assign items = site.pages | where: 'lang', page.lang | sort: 'order' %}
          {% for item in items %}
            {% assign item_path_arr = item.path | split: '/' %}
            {% if item_path_arr.size < 3 or (item_path_arr.size == 3 and item.name == 'index.md') %}
              {% assign prefix = page.path | remove: page.name %}
              <li class="{% if item.url == page.url or (prefix.size > 3 and item.path contains prefix) %}active{% endif %}">
                <a href="{{ item.url | relative_url }}">{{ item.title }} </a>
                <ul>
                  {% for subitem in items %}
                    {% assign parent_prefix = item.path | remove: item.name %}
                    {% if parent_prefix.size > 3 and subitem.path contains parent_prefix and subitem.name != 'index.md' %}
                      <li class="{% if subitem.url == page.url %}active{% endif %}">
                        <a href="{{ subitem.url | relative_url }}">{{ subitem.title }} </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
</header>
