<header>
      <a href="/">
          <img src="{{ site.baseurl }}/assets/logo/SWS_Vektor_C.svg" class="swslogo" alt="logo SwissWoodSolutions">
      </a>
      <div id="menuToggle">
            <input type="checkbox" class="hamburgercheck">
                <span></span>
                <span></span>
                <span></span>
                <ul class="nav">
                  {% assign items = site.pages | where_exp:"page", "page.name != 'style.scss'" | sort: 'order' %}
                  {% for item in items %}
                    {% unless item.parent %}
                    <li class="{% if item.url == page.url %}active{% endif %}">
                      <a href="{{ item.url | relative_url }}">{{ item.title }} </a>
                      <ul>
                        {% assign subitems = site.pages | sort: 'order' %}
                        {% for subitem in subitems %}
                          {% if subitem.parent == item.title %}
                          <li>
                            <a href="{{ subitem.url | relative_url }}">{{ subitem.title }} </a>
                          </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
                    {% endunless %}
                  {% endfor %}
                </ul>
        </div>
</header>
