
* {
  margin: 0;
  padding: 0;
}

a {
  color: #c1574c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 1em;
  line-height: 1.35em;
}

strong {
  font-weight: 500;
  color: #c1574c;
}
h1 {
  margin-bottom: 1em;
  font-size: 2em;
  color: #c1574c;
}
h2 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  margin-bottom: 0.25em;
  margin-top: 1.5em;
}

blockquote {
  margin: 2em;
  font-style: normal;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  color: #41393d;
}

footer {
  background-color: black 75%;
  color: white;
  font-size: 0.8em;
}

@media (max-width: 700px) {
  /* mobile */
  body {
    font-size: 15px;
  }
}

/*
 * Header
 */

header {
  padding: 20px 40px 20px 40px;
}

header::after {
  content: ' ';
  clear: both;
  display: block;
  margin-bottom: 100px;
}

.navlogo {
  font-size: 23px;
  width: 240px;
  float: left;
  margin-right: 30px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  text-decoration: none;
}
.nav li {
  display: inline-block;
  margin-right: 1px;
  padding: 0 0 0 2em;
}
.nav a {
  color: #c1574c;
  font-weight: 300;
  font-size: 0.95em;
}
.nav .active a {
  font-weight: 500;
  border-bottom: 4px solid #c1574c;
}
.nav a:hover {
  background: #c1574c;
  color: white;
}


@media (max-width: 899px) {
  /* mobile */
  .nav {
  display: none;
  }
}

/*
 * Footer
 */
footer {
  width: 100%;
  background-color: #c1574c;
}
.footerwrap {
  padding: 2em 4em 2em 4em;
  background-color: #41393d;
  color: #dcdcdc;
  opacity: 20%;
  font-size: 0.8em;
}

/*
 * DIVS for Content
 */

 .full-width {
   width: 100%;
   background-color: none;;
 }
.full-width-red {
  width: 100%;
  background-color: #c1574c;
}
.full-width-image {
  width: 100%;
  background-image: url("/assets/images/ebony_02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  background-color: none;
}
.wrap {
  max-width: 42em;
  padding: 8em 4em 8em 4em;
  margin: 0 auto;
}

@supports (display:grid) {
.wrap-grid ul {
          list-style-type: none;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
          grid-gap: 2em;
          margin: 0 auto;
          padding: 8em 4em 8em 4em;
          max-width: 42em;
        }
        .wrap-grid li {
          position: relative;
        }
    }
