
* {
  margin: 0;
  padding: 0;
}

a {
  color: #c1574c;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  text-decoration: underline;
}
p {
  margin-bottom: 1em;
  line-height: 1.35em;
}
strong {
  font-weight: 500;
  color: #c1574c;
  font-style: italic;
}
h1 {
  margin-bottom: 1em;
  font-size: 2em;
  color: #c1574c;
}
h2 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
h3 {
  font-size: 1em;
  margin-bottom: 0.25em;
  margin-top: 1.5em;
}
blockquote {
  margin: 2em;
  font-style: normal;
}
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  color: #41393d;
}
video {
  max-width: 100%;
  border: solid #41393d 1px;
  height: auto;
}
main {
  min-height:calc(100vh - 100px);
}
/*
 * Buttons
 */
.btn-red {
  color: #c1574c;
  padding: 0.5em 2em 0.5em 2em;
  border: solid #c1574c 1px;
  text-decoration: none;
  margin: 1em 0em 1em 0em;
}
.btn-red:hover {
  background: #c1574c;
  text-decoration: none;
  color: white;
}
.btn-white {
  color: white;
  padding: 0.5em 2em 0.5em 2em;
  border: solid white 1px;
  text-decoration: none;
  margin: 1em 0em 1em 0em;
}
.btn-white:hover {
  background: white;
  text-decoration: none;
  color: #c1574c;
}
.btn {
  color: #41393d;
  padding: 0.5em 2em 0.5em 2em;
  border: solid #41393d 1px;
  text-decoration: none;
  text-align: center;
  margin: 1em 0em 1em 0em;
  transition: background-color 0.2s linear 0.1s;
}
.btn:hover {
  background: #41393d;
  text-decoration: none;
  color: white;
}

@media (max-width: 700px) {
  /* mobile */
  body {
    font-size: 15px;
  }
}

/*
 * Header
 */

header {
  padding: 20px 40px 20px 40px;
}

header::after {
  content: ' ';
  clear: both;
  display: block;
  margin-bottom: 100px;
}

.navlogo {
  font-size: 22px;
  width: 220px;
  float: left;
  margin-right: 10px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  text-decoration: none;
}
.nav li {
  display: inline-block;
  margin-right: 1px;
  padding: 0 0 0 1.5em;
}
.nav a {
  color: #c1574c;
  font-weight: 300;
  font-size: 0.95em;
  text-decoration:none;
}
.nav .active a {
  font-weight: 500;
  border-bottom: 4px solid #c1574c;
}
.nav a:hover {
  border-bottom: 4px solid #c1574c;
}

@media (max-width: 900px) {
  /* mobile */
  .nav {
  display: none;
  }
  header::after {
    content: ' ';
    clear: both;
    display: block;
    margin-bottom: 10px;
  }
}
/*
 * Footer
 */
footer {
  background-color: #41393d;
  padding: 2em 4em 2em 4em;
  color: #dcdcdc;
  font-size: 0.8em;
  height: 100px;
  box-sizing: border-box;
}


/*
 * DIVS for Content
 */

 .full-width {
   background-color: none;
 }
.full-width-red {
  background-color: #c1574c;
}
.wrap {
  max-width: 42em;
  padding: 8em 4em 8em 4em;
  margin: 0 auto;
}
@media (max-width: 899px) {
  /* mobile */
  .wrap {
  padding: 8em 2em 8em 2em;
  }
}

@supports (display:grid) {
.wrap-grid {
  max-width: 42em;
  padding: 8em 4em 8em 4em;
  margin: 0 auto;
}
.wrap-grid ul {
          list-style-type: none;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
          grid-gap: 2em;
        }
        .wrap-grid li {
          position: relative;
        }
    }

/*
 * Slideshow
 */
   .slideshow {
     background-color: white;
     display: block;
   }
      .slide {
              position: absolute;
              display: inline-block;
              animation: slide 18s ease-in 2s infinite;
              overflow: hidden;
              height: 600px;
          }

          .slide:nth-child(1) {
              left: 0%;
              animation-delay: -0.5s;
              background-image: url("/swisswoodsolutions/assets/images/ebony_07_2x.jpg");
              background-size: cover;
              background-position: center;
          }
          .slide:nth-child(2) {
              left: 100%;
              animation-delay: 6s;
              background-image: url("/swisswoodsolutions/assets/images/ebony_08_2x.jpg");
              background-size: cover;
              background-position: center;
          }

          .slide:nth-child(3) {
              left: 100%;
              animation-delay: 12s;
              background-image: url("/swisswoodsolutions/assets/images/ebony_02.jpg");
              background-size: cover;
              background-position: center;
          }

      @keyframes slide {
          0% {
              left: 100%;
              width: 100%;
          }
          5% {
              left: 0%;
          }
          25% {
              left: 0%;
          }
          30% {
              left: -100%;
              width: 100%;
          }
          50% {
              left: -100%;
              width: 0%;
          }
          100% {
              left: 100%;
              width: 0%;
          }
  }

  .slideshow-arrows {

      .arrow {
        margin: -33px 0 0;
        padding: 20px;
        position: absolute;
        top: 50%;
        cursor: pointer;
        z-index: 3;
      }

      .prev {
          left: 30px;
        }
      .prev:hover .svg {
            left: -10px;
          }

      .next {
        right: 30px;
      }
      .next:hover .svg {
          left: 10px;
      }

      .svg {
        position: relative;
        left: 0;
        width: 14px;
        height: 26px;
        fill: #fff;
        transition: left 0.2s ease;
      }
      }

/*
* HAMBURGER
*/

/* Configuration Parameters */
$lineWidth: 5px;
$lineLength: 25px;
$baseMargin: 8px;
$animationDuration: 0.2s;

#hamburger {
  display: none;
}

.menu {
  background-color: white;
  width: 0px;
  height: 100%;
  overflow: hidden;
  padding-top: 50px;
  -webkit-transition-duration: $animationDuration;
  -moz-transition-duration: $animationDuration;
  -ms-transition-duration: $animationDuration;
  -o-transition-duration: $animationDuration;
  transition-duration: $animationDuration;
  -webkit-transition-delay: $animationDuration;
  -moz-transition-delay: $animationDuration;
  -ms-transition-delay: $animationDuration;
  -o-transition-delay: $animationDuration;
  transition-delay: $animationDuration;

}
.menuicon {
  display:none;
}
@media (max-width: 900px) {
  /* mobile */
.menuicon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  cursor: pointer;
  height: $baseMargin*2 + $lineWidth;
  width: $lineLength;
  span {
    display: block;
    top: $baseMargin;
    width: $lineLength;
    height: $lineWidth;
    background-color: #c1574c;
    position: relative;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
    -webkit-transition-delay: $animationDuration;
    -moz-transition-delay: $animationDuration;
    -ms-transition-delay: $animationDuration;
    -o-transition-delay: $animationDuration;
    transition-delay: $animationDuration;
    &::after, &::before {
      display: block;
      content: '';
      position: absolute;
      width: $lineLength;
      height: $lineWidth;
      background-color: #c1574c;
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: $animationDuration;
      -moz-transition-duration: $animationDuration;
      -ms-transition-duration: $animationDuration;
      -o-transition-duration: $animationDuration;
      transition-duration: $animationDuration;
      -webkit-transition-delay: $animationDuration, 0;
      -moz-transition-delay: $animationDuration, 0;
      -ms-transition-delay: $animationDuration, 0;
      -o-transition-delay: $animationDuration, 0;
      transition-delay: $animationDuration, 0;
    }
    &::before {
      margin-top: -$baseMargin;
    }
    &::after {
      margin-top: $baseMargin;
    }
  }
}
}
#hamburger:checked ~ .menu {
  width: 250px;
}

#hamburger:checked ~ .menuicon {
  span {
    background-color: #c1574c;
    &::before, &::after {
      margin-top: 0px;
      -webkit-transition-delay: 0, $animationDuration;
      -moz-transition-delay: 0, $animationDuration;
      -ms-transition-delay: 0, $animationDuration;
      -o-transition-delay: 0, $animationDuration;
      transition-delay: 0, $animationDuration;
    }
    &::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}
