<!DOCTYPE html>

<html lang="{{page.lang}}">
  {% include headanalytics.html %}
  <body>
    {% include nav-header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="/assets/js/jquery.min.js"></script>
	  <script src="/assets/lightgallery/js/lightgallery.min.js"></script>
	  <script src="/assets/lightgallery/js/lg-zoom.min.js"></script>
    <script src="/assets/lightgallery/js/lg-thumbnail.min.js"></script>
	  <script src="/assets/lightgallery/js/lg-share.min.js"></script>
	  <script type="text/javascript">
	  $(".picturegallery").lightGallery({
	      download: false,
	      googlePlus: false,
	    });
	</script>
  </body>
</html>
